body {
    background-color:#1CCAD8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.pizza {
    border: 5px solid black;
    padding: 1em;
    margin: 1em;
    margin-bottom: 2em;
    border-radius: 0.5em;
    width: 20em;
    display: inline-block;
    min-height: 10em;
    
}

inline-block {
width: 20em;
    display: inline-block;
    min-height: 10em;
}

.small_pizza {
    background-color: #FABC3C;
    flex: 1;
}

.medium_pizza {
    background-color:#3DFFCB; 
    flex: 2; 
}

.large_pizza {
    background-color: #E15634;
    flex: 3;
}

.contact_us { 
  background-color: #FFEC51;
}

.special {
    background-color: black;
    color: white;
    margin: 5em;
}

@media (mini-width: 760px) {

    body {
        background-color: whitesmoke;
    }

    .large_pizza {
        background-color: #E15634;
        flex: 3;
    }
}


@media (mini-width: 960px) {

    body {
        background-color: aliceblue;
    }

    .pizzas {
        display: flex;
      }
}


  